$key_size: 40px;


$bg-color-blue: #ADD8E6;
$bg-color-gray: #DCDCDC;
$bg-color-purple: #D1C4E9;

$key-color-white: #FFFFFF;
$key-color-gray: #DCDCDC;
$key-color-orange: #FFA500;

$case-color-gray: #C0C0C0;
$case-color-black: #000000;
$case-color-silver: #E0E0E0;

$text-color-black: #000000;
$text-color-blue: #0000FF;
$text-color-dark-gray: #666666;

$header-color-red: #FF0000;
$header-color-green: #008000;
$header-color-blue: #0000FF;