$key_size: 40px;

$body-text-color: #181a1b;
$header-text-color: #008000;
$key-text-hover-color: rgba(190, 32, 32, 0.562);

$key-color: #DFD5A5;
$keyboard-color: #628395;
$key-font-color: #DBAD6A;
$background-color: #181a1b;
$keyboard-border-color: #96897B;
$text-area-color: #dbccbc;
//$key-active-color: #48a54d93; // bfbfbf
$key-active-color: #48a54d; // bfbfbf

$key-hold-color: #b9f80b;