.keyboard {

  @include adaptive-value-start-end-ultimate('width', 730, 320, 800, 320);

  margin: 0 auto;
  padding: 5px;
  padding-left: 0;
  padding-bottom: 0;
  background: $keyboard-color;
  border: 3px solid;
  border-color: $keyboard-border-color;
  border-radius: 5px;
  user-select: none;

  &__row {
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
    //background-color: #888866;

    display: flex;
    justify-content: center;
  }

  &__key {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: $key-color;
    margin-left: 5px;

    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: border-radius 0.3s, background-color 0.3s;
  }

  &__key:hover {
    opacity: 0.7;
    box-shadow: 0px 0px 10px rgba(42, 68, 151, 0.932);
    color: yellow;
  }
}


.lowerCase,
.upperCase,
.caps,
.capsShift {
  display: block;
}

.hidden {
  display: none;
}



.highlight {
  background-color: $key-active-color;
}